Body {
    font-family: Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background: #777777;
    width: 960px;
    font-size: 18px;
}

header {
    background: #ebebeb;
    width: 750px;
    padding: 20px 0;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

nav {
    background: #ebebeb;
    width: 750px;
    padding: 20px 0;
    margin: 12px 100px;
    text-align: center;

}

section {
    background: #ebebeb;
    width: 400px;
    height: 300px;
    
}

aside {
    background: #ebebeb;
    width: 350px;
    height: 300px;
    padding: 20px auto 250px auto;
    margin: 12px;
    


}
article {
    color: #ebebeb;
    background: #777;

}

h1 {
    color: #777;
    background: #ebebeb;
}

p {
    color: #777;
    background: #ebebeb;
}

footer {
    background: #ebebeb;
    width: 750px;
    padding: 20px 0;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;



}

